<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script src="{{ url_for('static',filename='lib/html5shiv.js') }}"></script>
<script src="{{ url_for('static',filename='lib/respond.min.js') }}"></script>
<![endif]-->
<link rel="stylesheet" href="{{url_for('static',filename='static/h-ui/css/H-ui.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='static/h-ui.admin/css/H-ui.admin.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/Hui-iconfont/1.0.8/iconfont.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='static/h-ui.admin/skin/default/skin.css')}}" id="skin">
<link rel="stylesheet" href="{{url_for('static',filename='static/h-ui.admin/css/style.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='lib/jquery/1.9.1/jquery.min.js')}}"></script>
<!--[if IE 6]>
<script src="{{ url_for('static',filename='lib/DD_belatedPNG_0.0.8a-min.js') }}"></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>资讯列表</title>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function(){
        $("#do_search").click(function(){
        var key=$("#searchString").val();
        location.href="{{url_for('admin.search_list')}}?p=1&key=" +key;
  });
</script>
<div class="page-container">
	<div class="text-c">
		<input type="text" name="searchString" id="searchString" placeholder=" 资讯名称" style="width:550px" class="input-text">
		<button name="do_search" id="do_search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜资讯</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="" id="delAll" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" data-title="添加资讯" data-href="{{ url_for('admin.article_add') }}" onclick="Hui_admin_tab(this)" href="{{ url_for('admin.article_add') }}"><i class="Hui-iconfont">&#xe600;</i> 添加资讯</a></span> <span class="r">共有数据：<strong>{{ total }}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="80">ID</th>
					<th>标题</th>
					<th width="80">分类</th>
					<th width="80">来源</th>
					<th width="120">更新时间</th>
					<th width="75">浏览次数</th>
					<th width="60">发布状态</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>
             {% if news1 %}
                 {% for row in news1 %}
				<tr class="text-c">
					<td><input type="checkbox" value="{{ row.aid }}" name="smallBox" id="smallBox"></td>
					<td>{{ row.aid }}</td>
					<td class="text-l">
					<a href="../../article_details/{{ row.aid }}" target="_blank">{{ row.title }}</a>
					</td>
					<td>{{ cat_name}}</td>
					<td>{{ row.source }}</td>
					<td>{{ row.create_time }}</td>
					<td>{{ row.clicks }}</td>
					<td class="td-status">
					{% if row.status==0 %}
					    <span class="label label-success radius">已发布</span>
					{% else %}
					    <span class="label label-defaunt radius">已下架</span>
					{% endif %}
					</td>
					<td class="f-14 td-manage">
					{% if row.status==0 %}
					    <a style="text-decoration:none" onClick="article_stop(this,'{{ row.aid }}')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>
					{% else %}
					    <a style="text-decoration:none" onClick="article_start(this,'{{ row.aid }}')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
					{% endif %}
                        <a style="text-decoration:none" class="ml-5"  href="admin/article_edit/{{ row.aid }}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a><a style="text-decoration:none" class="ml-5" onClick="article_del(this,'{{ row.aid }}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
				</tr>
                 {% endfor %}
             {% endif %}
            </tbody>
		</table>
		<!--_分页开始-->
		<div class="dataTables_wrapper">
	        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">共 {{pagination.pages}} 页</div>
		    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
		        {% if pagination.has_prev %}
		            <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous" href='{{ url_for('admin.article_list')}}?page={{ pagination.prev_num }}' >上一页</a>
		        {% else %}
                    <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next" href='#'>首页</a>
		        {% endif %}
		        {%for page in pagination.iter_pages(1,1,3,1)%}
                    <a href="{{ url_for('admin.article_list') }}?page={{ page }}">
                    {% if not i %}
                        <span class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">{{ page }}</span>
                    {% else %}
                        <span class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">{{ page }}</span>
                    {% endif %}
                    </a>
                {%endfor%}
		        {% if pagination.has_next %}
		            <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next" href='{{ url_for('admin.article_list')}}?page={{ pagination.next_num }}'>下一页</a>
                {% else %}
		            <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next" href='#'>尾页</a>
		        {% endif %}
		    </div>
        </div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->

<script src="{{ url_for('static',filename='lib/jquery/1.9.1/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='lib/layer/2.4/layer.js') }}"></script>
<script src="{{ url_for('static',filename='static/h-ui/js/H-ui.min.js') }}"></script>
<script src="{{ url_for('static',filename='static/h-ui.admin/js/H-ui.admin.js') }}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{ url_for('static',filename="lib/My97DatePicker/4.8/WdatePicker.js")}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename="lib/datatables/1.10.0/jquery.dataTables.min.js") }}"></script>

<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,8]}// 不参与排序的列
	]
});
/*资讯-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-删除*/
function article_del(obj,id){    
	layer.confirm('确认要删除吗？',function(index){		
		$.ajax({
			type: 'POST',
			/*url: 'http://127.0.0.1:5000/admin/article_del/'+id,*/
			url: '..{{ url_for('admin.article_del') }}',
			data : {　　　　　　　　　　　      
　　　　　　　　aid : id
               　
　　　　　　},

			success: function(data){

				layer.msg('已删除!',{icon:1,time:1000});
				window.location.href=window.location.href;
			},
			error:function(data) {
				console.log(data.msg);
				 alert(失败);
				 alert(data);
			},
		});		
	});
}

/*资讯-审核*/
function article_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过','取消'], 
		shade: false,
		closeBtn: 0
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});	
}

/*资讯-下架*/
function article_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
	 // 提交到服务器开始
			$.ajax({
			type: 'POST',
			url: '..{{ url_for('admin.article_stop') }}',
			data : {　　　　　　　　　　　      
　　　　　　　　aid : id
               　
　　　　　　},

			success: function(data){
			 if(data==''){
                    alert("数据为空");
                }else{
                  	
		layer.msg('已下架!',{icon: 5,time:1000});	
window.location.href=window.location.href; 		
                }


			},
			error:function(data) {
				console.log(data.msg);				 
				alert(data);
			},
		});
		//提交到服务器结束

	});
}

/*资讯-发布*/
function article_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
	// 提交到服务器开始
			$.ajax({
			type: 'POST',
			url: '..{{ url_for('admin.article_start') }}',
			data : {　　　　　　　　　　　      
　　　　　　　　aid : id
               　  
　　　　　　},
						
			success: function(data){
			 if(data==''){
                    alert("数据为空");
                }else{
                  	
		layer.msg('已审核发布!',{icon: 5,time:1000});	
window.location.href=window.location.href; 		
                }
			},
			error:function(data) {
				console.log(data.msg);				 
				alert(data);
			},
		});
		//提交到服务器结束
	});
}
/*资讯-申请上线*/
function article_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}
 //AJAX批量删除
        $("#delAll").click(function(){
		
		if($("input[name=smallBox]:checked").length==0){
		alert("请必须选择一项" );
		}
		else{
		
		var params = "";
	 //拼接参数开始
     $("input[name=smallBox]:checked").each(function(index,element){
      //第一个id不需要加前缀
      if(index == 0) {
       //params += "id=" +
	   params += "" +
        $(this).val();
      } else {
       //params += "&id=" +
	   params += "," +
        $(this).val();
      }
     });//拼接参数完成
     //alert("生成的拼接参数：" + params);	
		$.ajax({
			type: 'POST',
			url: '..{{ url_for('admin.article_all_del') }}',
			data : {　　　　　　　　　　　      
　　　　　　　　aid : params               　  
　　　　　　},						
			success: function(data){
           $("input[name=smallBox]:checked").each(function () {
                        $(this).parents('tr').remove();
                    });		
                window.location.href=window.location.href; 					
				layer.msg('已删除!',{icon:1,time:1000});
				
			},
			error:function(data) {
				console.log(data.msg);
				 alert(失败);
				 alert(data);
			},
		});
	 }//else完毕
})
</script> 
</body>
</html>